[submodule "gcloudlogging"]
	path = gcloudlogging
	url = git@github.com:Luxas98/gcloudlogging.git
[submodule "fhirfastavro"]
	path = fhirfastavro
	url = https://github.com/Luxas98/fhir-fastavro
[submodule "pulsarclient"]
	path = pulsarclient
	url = https://github.com/Luxas98/pulsarclient
